@model TouristWebSite.Models.ActiveNewsViewModel

<h2>Найсвіжіші новини</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

@foreach (var item in Model.ActiveNews)
{
    <div class="jumbotron transparent newscontainer">
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("DeleteNew", "News", new {itemId = item.Id})">
                <i class="fas fa-times fa-lg" style="float:right;"></i>
            </a>
            <a href="@Url.Action("EditNew", "News", new {itemId = item.Id})">
                <i class="fas fa-edit fa-lg" style="float:right; margin-right: 5px"></i>
            </a>
        }
        <h3>@item.Name</h3>
        <h5>@item.Content</h5>
        @if (item.Link != null && item.Link != string.Empty)
        {
            <h5><a href=@item.Link>Детальніше за посиланням...</a></h5>
        }
        <label style="float: right"><i>@item.Date.ToShortDateString()</i></label>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-default no-underline" href="@Url.Action("AddNew", "News")"> <span> <i class="fas fa-plus"></i> Додати нову новину </span> </a>
}

<h2>Наші акції</h2>

@foreach (var item in Model.ActiveDiscounts)
{
    <div class="jumbotron transparent newscontainer">
        <h3>@item.Name</h3>
        <h5>@item.Content</h5>
        @if (item.Link != null && item.Link != string.Empty)
        {
            <h5><a href=@item.Link>Детальніше за посиланням...</a></h5>
        }
        <label style="float: right"><i>@item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString() </i></label>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-default no-underline" href="@Url.Action("Tours", "Home")"> <span> <i class="fas fa-plus"></i> Додати нову акцію </span> </a>
}