<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формула відпочинку</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body background="~/Content/Img/Back.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Формула відпочинку", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", title = "Перейти до розділу «Головна сторінка»" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна", "Index", "Home", null, new {title = "Перейти до розділу «Головна сторінка»"})</li>
                    <li>@Html.ActionLink("Новини та акції", "Index", "News", null, new { title = "Перейти до розділу «Новини та акції»" })</li>
                    <li>@Html.ActionLink("Пакетні тури", "Index", "Tours", null, new { title = "Перейти до розділу «Пакетні тури»"})</li>
                    <li>@Html.ActionLink("Конструктор турів", "Index", "Helper", null, new { title = "Перейти до розділу «Конструктор турів»" })</li>
                    <li>@Html.ActionLink("Контактна інформація", "Contacts", "Home", null, new { title = "Перейти до розділу «Контактна інформація»" })</li>
                    <li class="nav-divider" style="background-color:black;"></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Формула відпочинку</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
