@using Microsoft.AspNet.Identity
@model TouristWebSite.Models.AllUsersViewModel

<h2>Зареєстровані користувачі</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4>Управляйте користувачами</h4>
    <hr />
    @foreach (var item in Model.Users)
    {
        <div class="jumbotron transparent transp-container">
            <h3>@item.Name @item.Surname</h3>
            <h4>@item.Email</h4>
            <h4><strong>Вік:</strong> @(DateTime.Now.Year - item.DateOfBirth.Year) р.</h4>
            <h4><strong>Країна:</strong> @item.Country </h4>

            @if (item.IsActive)
            {
                <a class="btn btn-default no-underline" href="/Users/BlockingStatus?userId=@item.Id"><span> <i class="fas fa-times"></i> Заблокувати користувача </span></a>
            }
            else
            {
                <a class="btn btn-default no-underline" href="/Users/BlockingStatus?userId=@item.Id"><span> <i class="fas fa-check"></i> Розблокувати користувача </span></a>
            }
        </div>
    }
</div>