@using Microsoft.AspNet.Identity
@model TouristWebSite.Models.ListConstructRateViewModels
<h2>Рекомендації унікальних турів</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

@if (ViewBag.endNoRecommendations != null && ViewBag.endNoRecommendations != string.Empty)
{
    <p class="text-danger">
        @ViewBag.noRecommendations
        @Html.ActionLink("посиланням", "HelpConstruct", null, new { title = "Надати рекомендації унікальних турів" }, new { @class = "text-danger", title = "Надати рекомендації унікальних турів" })
        .
    </p>
}
else
{
    if (ViewBag.noRecommendations != null && ViewBag.noRecommendations != string.Empty)
    {
        <p class="text-danger">
            @ViewBag.noRecommendations
            Необхідно доповнити та розширити
            @Html.ActionLink("загальну", "UserInfo", "Manage", new { itemId = User.Identity.GetUserId() }, new { @class = "text-danger", title = "Перейти до сторінки редагування загальної інформації" })
            і
            @Html.ActionLink("додаткову", "AdditionalInfo", new { itemId = User.Identity.GetUserId() }, new { @class = "text-danger", title = "Перейти до сторінки редагування додаткової інформації" })
            інформацію про себе або зачекати, доки у системі з'явиться більша кількість користувачів.
        </p>
    }
}

<h4>Переглядайте рекомендації унікальних турів, що були надані на основі попередніх замовлень інших користувачів та наданої про себе інформації (загальної та додаткової). </h4>
<h4>Для продовження конструювання унікальних туру на основі рекомендації, натисніть на відповідну опцію біля обраного варіанту. </h4>

@{
    int i = 1;
}

@foreach (var item in Model.ConstructRateViewModels)
{
    <div class="jumbotron transparent transp-container" style="margin-top: 15px">
        <div class="flex-container">
            <div>
                <h3><strong>Рекомендація №@i</strong></h3>
                <h4><strong>Загальна інформація</strong></h4>
                <h4><strong>Дати: </strong> @item.DateStart.ToShortDateString() - @item.DateEnd.ToShortDateString()</h4>
                <h4><strong>Кількість людей: </strong> @item.PeopleCount</h4>
                <h4><strong>Ціна: </strong> @item.Price грн.</h4>
                <br />
                <h4><strong>Інформація про точку відправлення</strong></h4>
                <h4><strong>Країна: </strong> @item.Country</h4>
                <h4><strong>Місто: </strong> @item.City</h4>
                <h4><strong>Вид транспорту: </strong> @item.Transport</h4>
                <h4><strong>Точка відправлення: </strong> @item.LeavePoint</h4>
                <br />
                <h4><strong>Інформація про пункт призначення</strong></h4>
                <h4><strong>Країна: </strong> @item.DestinationCountry</h4>
                <h4><strong>Місто: </strong> @item.DestinationCity</h4>
                <h4><strong>Пункт призначення: </strong> @item.DestinationPoint</h4>
                <br />
                <h4><strong>Інформація про маршрут подорожі</strong></h4>
                <h4><strong>Маршрут: </strong> @item.Route</h4>
                <h4><strong>Клас: </strong> @item.Class</h4>
                <br />
                <h4><strong>Інформація про готель</strong></h4>
                <h4><strong>Готель: </strong> @item.Hotel</h4>
                <h4><strong>Клас: </strong> @item.HotelClass</h4>
                @if (item.Excursions != "")
                {
                    <h4><strong>Екскурсії: </strong> @item.Excursions</h4>
                }
                <br />
                <h4><strong>Інформація про маршрут зворотньої подорожі</strong></h4>
                <h4><strong>Маршрут: </strong> @item.BackRoute</h4>
                <h4><strong>Клас: </strong> @item.BackClass</h4>
            </div>
        </div>
        <a style="margin-top: 5px" class="btn btn-default no-underline" href="@Url.Action("RecommendationsConstruct", "Helper", new {itemId = item.Id})" title="Перейти до сторінки конструювання унікального туру на основі рекомендації"> <span> <i class="fas fa-check"></i> Продовжити конструювання </span> </a>
    </div>
    i++;
}