@using TouristWebSite.Models
@model QuestionViewModel

<h2>Відповідь на запитання користувача</h2>
<h4>Дайте відповідь на запитання користувача</h4>
<hr />
@using (Html.BeginForm("Answer", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.QuestionId)
    @Html.HiddenFor(m => m.UserId)
    <h4><strong>Користувач: </strong>@Model.Question.User.Name @Model.Question.User.Surname</h4>
    <h4><strong>Тема: </strong>@Model.Question.Theme</h4>
    <h4><strong>Запитання: </strong>@Model.Question.Text</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-9">
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @style = "min-height: 150px" })
            @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <button type="submit" class="btn btn-success"> <i class="fas fa-check"></i> Відповісти </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}