@using Microsoft.AspNet.Identity
@model TouristWebSite.Models.IndexViewModel

<h2>Особистий кабінет</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Управляйте особистою інформацією та задавайте запитання адміністраторам сайту.</h4>
    @if (!Model.EmailConfirmed)
    {
        <h4>Підтвердження електронної пошти є важливим, адже тільки підтвердженну електронну пошту можна буде використати для відновлення паролю до акаунта у випадку його втрати.</h4>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt class="aligner-350">Загальна інформація:</dt>
        <dd>
            @Html.ActionLink("Переглянути та редагувати", "UserInfo", new { itemId = User.Identity.GetUserId() }, new { title = "Перейти до сторінки редагування загальної інформації" })
        </dd>

        <dt class="aligner-350">Електронна пошта:</dt>
        <dd>
            @if (Model.EmailConfirmed)
            {
                string a = "Підтверджена";
                @a
            }
            else
            {
                @Html.ActionLink("Підтвердити", "ConfirmEmail", null, new { title = "Надіслати на електронну пошту посилання для підтвердження" })
            }
        </dd>

        <dt class="aligner-350">Пароль:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Змінити", "ChangePassword", null, new { title = "Перейти до сторінки зміни паролю" })
            }
            else
            {
                @Html.ActionLink("Встановити", "SetPassword")
            }
        </dd>

        <dt class="aligner-350">Оновлення (новини та акції) туристичної фірми:</dt>
        <dd>
            @if (Model.IsSubscribed)
            {
                @Html.ActionLink("Відмінити підписку", "Subscription", "Manage", null, new { title = "Відмінити підписку на оновлення туристичної фірми" })
            }
            else
            {
                @Html.ActionLink("Підписатись", "Subscription", "Manage", null, new { title = "Підписатись на оновлення туристичної фірми" })
            }
        </dd>

        <dt class="aligner-350">Список улюблених пакетних турів:</dt>
        <dd>
            @Html.ActionLink("Переглянути та редагувати", "FavouriteTours", null, new { title = "Перейти до сторінки зі списком улюблених пакетних турів" })
        </dd>

        <dt class="aligner-350">Запитання адміністраторам сайту:</dt>
        <dd>
            @Html.ActionLink("Переглянути та запитати", "Questions", null, new { title = "Перейти до сторінки запитань адміністраторам сайту" })
        </dd>


        <dt class="aligner-350">Статистика замовлень та запитань:</dt>
        <dd>
            @Html.ActionLink("Переглянути", "Statistics", null, new { title = "Перейти до сторінки статистики" })
        </dd>
    </dl>

    @if (User.IsInRole("Admin"))
    {
        <hr />

        <h2>Адміністрування користувачів</h2>
        <h4>Управляйте акаунтами користувачів сайту та їх запитаннями адміністраторам сайту.</h4>
        <hr />

        <dl class="dl-horizontal">
            <dt class="aligner-350">Список користувачів:</dt>
            <dd>
                @Html.ActionLink("Переглянути та редагувати", "Users", null, new { title = "Перейти до сторінки зі списком користувачів" })
            </dd>

            <dt class="aligner-350">Запитання користувачів адміністраторам сайту:</dt>
            <dd>
                @Html.ActionLink("Переглянути та відповісти", "AllQuestions", null, new { title = "Перейти до сторінки відповідей на запитання користувачів" })
            </dd>
        </dl>
    }

    @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
    @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
    *@
    @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
    @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@
    @*</dd>*@

</div>