@model TouristWebSite.Models.StatisticsViewModel

<h2>Статистика</h2>
<h4>Переглядайте свою статистику.</h4>
<hr />

<dl class="dl-horizontal">
    <dt class="aligner-300">Кількість заданих питань:</dt>
    <dd>@Model.QuestionsCount</dd>
    <br />
    <dt class="aligner-300">Кількість заброньованих пакетних турів:</dt>
    <dd id="ToursCount">@Model.ToursCount</dd>
    <dt class="aligner-300">Заброньовані раніше тури:</dt>
    <dd>@Html.ActionLink("Переглянути список", "BookedTours")</dd>
</dl>

@if (Model.ToursCount > 0)
{
    <div id="first">
        <div id="piechart" style="width: 100%; height: 350px;"></div>
        <br />
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    </div>
}

<br />

<dl class="dl-horizontal">
    <dt class="aligner-300">Кількість сконструйованих індивідуальних турів:</dt>
    <dd>@Model.IndividualToursCount</dd>
    <dt class="aligner-300">Сконструйовані раніше тури:</dt>
    <dd>@Html.ActionLink("Переглянути список", "RateConstruct", "Helper")</dd>
</dl>

@if (Model.IndividualToursCount > 0)
{
    <div id="second">
        <div id="piechart_constructed" style="width: 100%; height: 350px;"></div>
        <br />
        <div id="chart_div_constructed" style="width: 100%; height: 500px;"></div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            //tours
            var toursCount = @Model.ToursCount;
            if (toursCount > 0) {
                var data = google.visualization.arrayToDataTable([
                    ['', 'Кількість заброньованих пакетних турів'],

                    @foreach (var item in Model.Data)
                    {
                        @:["@item.Key", @item.Value],
                    }
                ]);

                var options = {
                    title: 'Заброньовані пакетні тури за місяцями',
                    titleTextStyle: {
                        color: 'rgb(51, 51, 51)'
                    },
                    legend: {
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        }
                    },
                    is3D: true,
                    pieSliceTextStyle: {
                        color: 'rgb(51, 51, 51)',
                        bold: true
                    }
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);

                var options1 = {
                    title: 'Заброньовані пакетні тури за місяцями',
                    hAxis: {
                        title: '',
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        }
                    },
                    legend: {
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        }
                    },
                    vAxis: {
                        minValue: 0,
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        }
                    },
                    titleTextStyle: {
                        color: 'rgb(51, 51, 51)'
                    },
                    colors: ['rgb(51, 51, 51)'],
                };

                var chart1 = new google.visualization.AreaChart(document.getElementById('chart_div'));
                chart1.draw(data, options1);

                var list = document.querySelectorAll("#first rect");

                for (var i = 0; i < list.length; i++) {
                    if (i != 0 && i != 4 + @Model.Data.Count()) {
                        list[i].style.fillOpacity = 0;
                    }
                }
            }

            //constructed tours
            var toursCount = @Model.IndividualToursCount;
            if (toursCount > 0) {
                var dataconstructed = google.visualization.arrayToDataTable([
                    ['', 'Кількість сконструйованих індивідуальних турів'],

                    @foreach (var item in Model.DataConstrcuted)
                    {
                        @:["@item.Key", @item.Value],
                    }
                ]);

                var optionsconstructed = {
                    title: 'Сконструйовані індивідуальні тури за місяцями',
                    titleTextStyle: {
                        color: 'rgb(51, 51, 51)'
                    },
                    is3D: true,
                    pieSliceTextStyle: {
                        color: 'rgb(51, 51, 51)',
                        bold: true,
                    }
                };

                var chartconstructed =
                    new google.visualization.PieChart(document.getElementById('piechart_constructed'));
                chartconstructed.draw(dataconstructed, optionsconstructed);

                var options1constructed = {
                    title: 'Сконструйовані індивідуальні тури за місяцями',
                    hAxis: {
                        title: '',
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        },
                    },
                    legend: {
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        }
                    },
                    vAxis: {
                        minValue: 0,
                        textStyle: {
                            color: 'rgb(51, 51, 51)'
                        },
                    },
                    titleTextStyle: {
                        color: 'rgb(51, 51, 51)'
                    },
                    colors: ['rgb(51, 51, 51)'],
                };

                var chart1constructed =
                    new google.visualization.AreaChart(document.getElementById('chart_div_constructed'));
                chart1constructed.draw(dataconstructed, options1constructed);

                var list = document.querySelectorAll("#second rect");

                for (var i = 0; i < list.length; i++) {
                    if (i != 0 && i != 4 + @Model.DataConstrcuted.Count()) {
                        list[i].style.fillOpacity = 0;
                    }
                }
            }
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
