@model TouristWebSite.Models.ActiveToursViewModel
<h2>Пакетні тури</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<h4>Переглядайте наші пакетні тури. Перейти до детальнішої інформації можна натиснувши на заголовок туру.</h4>
<h4>Для більшої зручності використовуйте пошук та фільтрування. </h4>
<h4>Для замовлення обраного туру натисність на опцію бронювання біля нього. </h4>
<h4>Також, є можливість додавати тури в список улюблених, який можна потім переглядати та редагувати в розділі «Особистий кабінет».</h4>

@using (Html.BeginForm("Search", "Tours", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="flexhorizontal" style="margin-bottom: 10px">
        @Html.TextBoxFor(m => m.Search, new { @id = "searchBox", @class = "form-control search-text-box" })
        <button type="submit" class="btn btn-default no-underline" title="Здійснити пошук"> <span> <i class="fas fa-search"></i> </span> </button>
        <a class="btn btn-default no-underline" href="@Url.Action("Index", "Tours")" title="Очистити поле пошуку"> <span> <i class="fas fa-times"></i> </span> </a>
    </div>
}

@using (Html.BeginForm("Index", "Tours", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="flexchangeable">
        <div>
            <h4>Оберіть країни:</h4>
            @for (var i = 0; i < Model.TourPlaces.Count(); i++)
            {
                <div class="flexhorizontalstart">
                    @Html.HiddenFor(m => m.TourPlaces[i].Place)
                    @Html.CheckBoxFor(m => m.TourPlaces[i].IsChosen)
                    <h4 style="margin-top: 0px; margin-left: 5px">
                        @Model.TourPlaces[i].Place
                    </h4>
                </div>
            }
        </div>
        <div>
            <h4>Оберіть діапазон дат:</h4>
            <div class="flexhorizontal">
                @Html.LabelFor(m => m.DateFrom, new { @style = "margin-right:5px; margin-top: 6px" })
                @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control", @type = "date", @Value = Model.DateFrom.ToString("yyyy-MM-dd"), @style = "margin-bottom: 10px" })
            </div>
            <div class="flexhorizontal">
                @Html.LabelFor(m => m.DateTo, new { @style = "margin-right:5px; margin-top: 6px" })
                @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control", @type = "date", @Value = Model.DateTo.ToString("yyyy-MM-dd") })
            </div>
        </div>
        <div>
            <h4>Оберіть максимальну ціну:</h4>
            @Html.TextBoxFor(m => m.PriceTo, new { @class = "form-control", @type = "number" })
        </div>
    </div>

    <div class="flexhorizontalstart" style="margin-top: 10px; margin-bottom: 10px">
        <button type="submit" class="btn btn-default no-underline" style="margin-right: 5px;" title="Застосувати фільтри"> <span> <i class="fas fa-filter"></i> Застосувати фільтри</span> </button>
        <a class="btn btn-default no-underline" href="@Url.Action("Index", "Tours")" title="Прибрати фільтри"> <span> <i class="fas fa-times"></i> Прибрати фільтри </span> </a>
    </div>
}

@foreach (var item in Model.ActiveTours)
{
    <div class="jumbotron transparent transp-container">
        <div>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Delete", "Tours", new {itemId = item.Id})" title="Видалити тур">
                    <i class="fas fa-times fa-lg" style="float:right;"></i>
                </a>
                <a href="@Url.Action("Update", "Tours", new {itemId = item.Id})" title="Редагувати тур">
                    <i class="fas fa-edit fa-lg" style="float:right; margin-right: 5px"></i>
                </a>
                <a href="@Url.Action("Photos", "Tours", new {itemId = item.Id})" title="Редагувати фотографії">
                    <i class="fas fa-images fa-lg" style="float:right; margin-right: 5px"></i>
                </a>
            }
            @if (Model.Favourites.Find(x => x.TourId == item.Id) == null)
            {
                <a href="@Url.Action("Favourite", "Tours", new {itemId = item.Id})" title="Додати тур у список улюблених">
                    <i class="far fa-heart fa-lg" style="float:right; margin-right: 5px"></i>
                </a>
            }
            else
            {
                <a href="@Url.Action("RemoveFavourite", "Tours", new {itemId = Model.Favourites.Find(x => x.TourId == item.Id).Id})" title="Видалити тур зі списку улюблених">
                    <i class="fas fa-heart fa-lg" style="float:right; margin-right: 5px"></i>
                </a>
            }

        </div>
        <br />
        <div class="flex-container">
            <div>
                <h3><a href="@Url.Action("Details", "Tours", new {itemId = item.Id})" title="Перейти до більш детальної інформації про тур"><strong>@item.Name (@item.Place)</strong></a></h3>
                <h4><strong>Дати: </strong> @item.DateStart.ToShortDateString() - @item.DateEnd.ToShortDateString()</h4>
                <h4><strong>Ціна: </strong> @item.Price грн.</h4>

                @if (item.Description.Length > 200)
                {
                    <h4>@string.Concat(item.Description.Substring(0, 200), "...")</h4>
                }
                else
                {
                    <h4>@item.Description</h4>
                }
            </div>
            @if (item.NumberOfPhotos > 0)
            {
                <div>
                    <img class="img-style" src="~/Content/Img/Tours/@(item.Id).jpg" />
                </div>
            }
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <a style="margin-top: 5px" class="btn btn-default no-underline" href="@Url.Action("TourBooking", "Tours", new {itemId = item.Id})" title="Перейти до сторінки бронювання туру"> <span> <i class="fas fa-check"></i> Забронювати тур </span> </a>
        }
    </div>
}

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-default no-underline" href="@Url.Action("Add", "Tours")"  title="Перейти до сторінки додавання нового туру"> <span> <i class="fas fa-plus"></i> Додати новий тур </span> </a>
}
