@using Microsoft.AspNet.Identity
@model TouristWebSite.Models.ImageViewModel

<h2>Фотографії туру @Model.Tour.Name (@Model.Tour.Place)</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div>
    <h4>Управляйте фотографіями туру.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="aligner-350">Всі фотографії пакетного туру (@Model.Tour.NumberOfPhotos):</dt>
        <dd>
            <a href="/Tours/DeleteAll?itemId=@Model.Tour.Id" title="Видалити всі фотографії">Видалити всі фотографії</a>
        </dd>

        <dt class="aligner-350">Додати нове фото для пакетного туру:</dt>
        <dd>
            @using (Html.BeginForm("AddPhoto", "Tours", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.TourId)

                <label class="link" for="ImagePath" title="Завантажити фотографію">Завантажити фотографію</label> <i id="tick" style="display: none" class="fas fa-check"></i>
                <input id="ImagePath" title="Upload a product image" type="file" name="file" style="display:none;" onchange="showtick()" />
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-9">
                        <button type="submit" class="btn btn-success" title="Зберегти зміни"> <i class="fas fa-check"></i> Зберегти </button>
                    </div>
                </div>
            }
        </dd>
    </dl>
</div>

<script>
    function showtick() {
        document.getElementById("tick").style.display = "inline";
    }
</script>